.product-image {
    border-radius: 10px;
}

#main {
    width: 100%;
    max-height: 420px;
    object-fit: contain;
}

.thumb-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.thumb {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 6px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: 0.2s;
}

.thumb:hover {
    border: 2px solid red;
    transform: scale(1.05);
}

.product-card {
    transition: 0.25s;
    border-radius: 10px;
    overflow: hidden;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.product-card img {
    height: 170px;
    object-fit: cover;
}

.product-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.product-link {
    text-decoration: none;
    color: inherit;
}

.similar-card {
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 10px;
    background: #fff;
    transition: 0.2s;
    height: 100%;
    position: relative;
}

.similar-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.similar-card img {
    height: 120px;
    object-fit: cover;
    margin-bottom: 8px;
}

.similar-card .name {
    font-size: 14px;
    height: 38px;
    overflow: hidden;
}

.similar-card .price {
    color: #e30019;
    font-weight: bold;
    font-size: 15px;
}

.similar-card .sale {
    position: absolute;
    top: 8px;
    right: 8px;
    background: #e30019;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 4px;
}

html {
    scroll-behavior: smooth;
}
.review-item {
    font-size: 14px;
}

.review-item b {
    color: #333;
}

.review-item p {
    margin: 4px 0;
}

.review-item small {
    font-size: 12px;
}