footer {
    background: #f5f5f5;
}

.footer {
    max-width: 1200px;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 30px;
}

/* mỗi cột chiếm 1/5 */
.footer-item {
    flex: 1;
    min-width: 180px;
}

.footer-content a {
    text-decoration: none;
    /* bỏ gạch chân */
    color: #333;
    /* đổi màu chữ */
    display: block;
    transition: 0.2s;
}

/* hover cho đẹp */
.footer-content a:hover {
    color: #e35d5b;
}

.footer-title {
    font-weight: bold;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
}

.footer-content p {
    margin: 5px 0;
    color: #555;
}

/* Ẩn dấu + trên PC */
.footer-title span {
    display: none;
}

/* MOBILE */
@media (max-width:768px) {

    .footer {
        display: block;
        padding: 10px;
    }

    .footer-item {
        width: 100%;
        border-bottom: 1px solid #ddd;
    }

    .footer-title {
        cursor: pointer;
        padding: 12px 0;
    }

    .footer-title span {
        display: block;
    }

    .footer-content {
        display: none;
        padding-bottom: 10px;
    }

}

.footer-content svg {
    width: 20px;
    height: 20px;
    fill: #333;
    margin-right: 6px;
}

.social {
    display: flex;
    align-items: center;
    gap: 8px;
}