/* ===== LOGIN FORM ===== */

.login-wrapper {
    display: flex;
    justify-content: center;
    padding: 60px 0;
    margin-bottom: 130px;
}

.login-card {
    width: 100%;
    max-width: 380px;
    background: #fff;
    padding: 30px;
    border-radius: 12px;

    border-top: 4px solid #e35d5b;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.login-card h3 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

/* input */
.login-card .form-control {
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 10px;
}

.login-card .form-control:focus {
    border-color: #e35d5b;
    box-shadow: 0 0 0 2px rgba(227, 93, 91, 0.2);
}

/* button */
.login-btn {
    background: #e35d5b;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    padding: 10px;
    transition: 0.2s;
}

.login-btn:hover {
    background: #cc4c4a;
}

/* link */
.login-card a {
    color: #e35d5b;
    font-size: 14px;
}

.login-card a:hover {
    text-decoration: underline;
}

/* checkbox */
.form-check-label {
    font-size: 14px;
}